/*Hero*/
.hero {
  background-color: $secondary-background-color;
  padding-top: 200px;
  padding-bottom: 200px;
  @extend %centered-margin;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  width: 696px;
  text-align: center;
  @extend %centered-margin;
}
.hero-container__main-title {
  color: $color-text-white;
  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.hero-container__button {
  background-color: $accent-text-color;
  color: $color-text-white;
  font-family: inherit;
  @include font(700, 16px, 1.9, 0.06em);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $color-change-button;
  }
}
