/*Page-Header*/
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}

/*Main-site-nav*/
.main-site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav {
  display: flex;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}
.site-nav__nav-item {
  justify-content: center;
  align-self: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link-nav {
  display: block;
  padding: 32px 0;
  color: inherit;

  &--current {
    color: $accent-text-color;
    position: relative;
  }
  &--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-text-color;
    position: absolute;
    bottom: 0;
  }
}

/*Main-auth-nav*/
.main-auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.auth-nav {
  display: flex;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: $primary-text-color;
  text-decoration: none;
  transition: color 250ms $cubic-bezier, stroke 250ms $cubic-bezier;

  &:hover,
  &:focus {
    stroke: $accent-text-color;
  }
}

.auth-nav__nav-item {
  justify-content: center;
  align-self: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.auth-nav__button-icon {
  margin-right: 10px;
  color: currentColor;
}
