.logo-footer {
  display: block;
  color: $color-text-white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.logo-footer__second-word {
  color: $accent-text-color;
  transition: color 250ms $cubic-bezier;
}
