.logo {
  display: inline-block;
  min-width: 145px;
  text-align: center;
  justify-content: center;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $logo-color;
  transition: color 250ms $cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.logo__second-word {
  color: $accent-text-color;
}
