%centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%centered-margin {
  margin: 0 auto;
}
%card-boders {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
